name: PR Workflow

permissions:
  pull-requests: write

on:
  pull_request:
    types: [labeled, unlabeled, opened, synchronize, reopened, ready_for_review, converted_to_draft]
  workflow_dispatch:
jobs:
  
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Lint Code
        uses: /WorldOfScala/.github/workflows/linter@master
      - name: Coverage
        uses: /WorldOfScala/.github/workflows/coverage@master